*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  clear: both;
  display: table;
  content: '';
}
.container{
  max-width: 1170px;
  margin: 0 auto;
}
[class*="col-"]{
  float: left;
}
.col-1{
  width: calc( 100% / 12);
}
.col-offset-1{
  margin-left: calc(100% / 12);
}
.colorate{
  height: 100px;
  background-color: #F5F5F5;
  border: 1px solid black;
}
.colorato{
  height: 100px;
  background-color: #D18B47;
  border: 1px solid black;
}
.colorato1{
  height: 100px;
  background-color: #FFCE9E;
  border: 1px solid black;
}
h1{
  text-align: center;
  margin-top: 30px;
}
.horse{
  background-image: url("horse1.png");
  background-size: contain;
  background-repeat: no-repeat;
  }
.whorse{
  background-image: url("whorse.png");
  background-size: contain;
  background-repeat: no-repeat;
  }
.Bishop{
  background-image: url("Bishop.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.wBishop{
  background-image: url("wBishop.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.Pawn{
  background-image: url("Pawn.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.wPawn{
  background-image: url("wPawn.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.wRook{
  background-image: url("wRook.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.Rook{
  background-image: url("Rook.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.King{
  background-image: url("King.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.wKing{
  background-image: url("wKing.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.Queen{
  background-image: url("Queen.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.wQueen{
  background-image: url("wQueen.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/*.col-2{
  width: calc(( 100% / 12) * 2);
}
.col-3{
  width: calc(( 100% / 12) * 3);
}
.col-4{
  width: calc(( 100% / 12) * 4);
}
.col-5{
  width: calc(( 100% / 12) * 5);
}
.col-6{
  width: calc(( 100% / 12) * 6);
  /*width= 50%;
}
.col-7{
  width: calc(( 100% / 12) * 7);
}
.col-8{
  width: calc(( 100% / 12) * 8);
}
.col-9{
  width: calc(( 100% / 12) * 9);
}
.col-10{
  width: calc(( 100% / 12) * 10);
}
.col-11{
  width: calc(( 100% / 12) * 11);
}
.col-12{
  width: calc 100%;
}*/
